@page
@model WebApplication1.Pages.Index1Model
@{
}
<main class="container py-4">
    <div class="p-5 text-center">
        <h4 class="mb-3">Canciones de Alejandro</h4>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-lg-6">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>
