@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-12">
        <div class="tab-content mt-3 p-3 " id="pills-tabTwoContent">
            <div class="tab-pane tab-example-preview fade show active" id="pills-portfolio-three-preview"
                 role="tabpanel" aria-labelledby="pills-portfolio-three-preview-tab">
                <section class="mb-lg-9 mb-5">
                    <div class="container">
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 xol-12">
                                <div class="text-center mb-7">
                                    <p class="text-uppercase ls-md fw-semibold">Grupo 7</p>
                                    <h1 class="display-5 m-3">Nuestro equipo de trabajo</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-5 mx-4 mb-4">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h4 class="card-title">Alejandro Denver</h4>
                                    <h5 class="card-subtitle mb-2 text-body-secondary">Hobbies</h5>
                                    <ul>
                                        <li>Ver fútbol</li>
                                        <li>Jugar videojuegos</li>
                                        <li>Legos</li>
                                    </ul>
                                    <a href="/alejandro" class="card-link">Ver más...</a>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-5 mx-4 mb-4">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h4 class="card-title">Valeria Solano</h4>
                                    <h5 class="card-subtitle mb-2 text-body-secondary">Hobbies</h5>
                                    <ul>
                                        <li>Leer libros</li>
                                        <li>Ir al gimnasio</li>
                                        <li>Ver atardeceres</li>
                                    </ul>
                                    <a href="/valeria" class="card-link">Ver más...</a>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-5 mx-4 mb-4">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h4 class="card-title">Joan Gonzalez</h4>
                                    <h5 class="card-subtitle mb-2 text-body-secondary">Hobbies</h5>
                                    <ul>
                                        <li>Ir al gimnasio</li>
                                        <li>Andar en moto</li>
                                    </ul>
                                    <a href="/joan" class="card-link">Ver más...</a>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-5 mx-4 mb-4">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h4 class="card-title">Jose Azofeifa</h4>
                                    <h5 class="card-subtitle mb-2 text-body-secondary">Hobbies</h5>
                                    <ul>
                                        <li>Jugar fútbol</li>
                                        <li>Ir al gym</li>
                                        <li>Ver series</li>
                                    </ul>
                                    <a href="/jose" class="card-link">Ver más...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
