@page
@model WebApplication1.Pages.joanModel
@{
}
<main class="container text-center">
    <div class="p-3">
        <h1 class="display-6 m-3">Favoritos de Joan</h1>
        <h4 class="mb-3">Canciones</h4>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://youtu.be/GoLnVGY5Qqo?si=7YV8ic3vdPd0fzZ5" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://youtu.be/16JTVV27jzo?si=s_7xUIb5v1bcinxX" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="p-5">
        <h4 class="mb-3">Series</h4>
    </div>
    <div class="row justify-content-evenly">
        <div class="card" style="width: 18rem;">
            <img src="https://es.web.img3.acsta.net/pictures/18/04/04/22/52/3191575.jpg" class="card-img-top" alt="..."
                 style="height: 400px">
            <div class="card-body">
                <h5 class="card-title">Breaking Bad</h5>
                <a href="https://www.sensacine.com/series/serie-3517/#:~:text=ESCRIBIR%20MI%20CR%C3%8DTICA-,Sinopsis%20%26%20Info,-Altamente%20aclamado%20por"
                   class="btn btn-primary">Sinopsis</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://es.web.img3.acsta.net/c_310_420/pictures/14/02/11/12/56/318203.jpg" class="card-img-top"
                 alt="..." style="height: 400px">
            <div class="card-body">
                <h5 class="card-title">Los Simpsons</h5>
                <a href="https://www.sensacine.com/series/serie-290/#:~:text=ESCRIBIR%20MI%20CR%C3%8DTICA-,Sinopsis%20%26%20Info,-De%20la%20pluma"
                   class="btn btn-primary">Sinopsis</a>
            </div>
        </div>
    </div>

</main>