@page
@model WebApplication1.Pages.joseModel
@{
}
<main class="container text-center">
    <div class="p-3">
        <h1 class="display-6 m-3">Favoritos de Jose</h1>
        <h4 class="mb-3">Canciones</h4>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/mWRsgZuwf_8?si=n19iAFowOgHqHsUu" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/UsoKuuR-OQk?si=Ar4byYtYuJX5yMUQ" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="p-5">
        <h4 class="mb-3">Series</h4>
    </div>
    <div class="row justify-content-evenly">
        <div class="card" style="width: 18rem;">
            <img src="https://www.zonanegativa.com/imagenes/2014/06/poster_HIMYM_como_conoci_a_vuestra_madre.jpg" class="card-img-top" alt="..."
                 style="height: 400px">
            <div class="card-body">
                <h5 class="card-title">Cómo conocí a tu madre</h5>
                <a href="https://es.wikipedia.org/wiki/How_I_Met_Your_Mother#Sinopsis:~:text=En%20el%20a%C3%B1o%202030%2C%20el%20arquitecto%20Ted%20Mosby%20(Josh%20Radnor)%20decide%20contarles%20a%20sus%20dos%20hijos%20la%20historia%20de%20c%C3%B3mo%20conoci%C3%B3%20a%20su%20madre."
                   class="btn btn-primary">Sinopsis</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://www.justwatch.com/images/poster/304501693/s332/prison-break" class="card-img-top"
                 alt="..." style="height: 400px">
            <div class="card-body">
                <h5 class="card-title">Prision Break</h5>
                <a href="https://es.wikipedia.org/wiki/Prison_Break#:~:text=%5Beditar%5D-,Sinopsis,-%5Beditar%5D"
                   class="btn btn-primary">Sinopsis</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://es.web.img3.acsta.net/pictures/18/04/04/22/52/3191575.jpg" class="card-img-top" alt="..."
                 style="height: 400px">
            <div class="card-body">
                <h5 class="card-title">Breaking Bad</h5>
                <a href="https://www.sensacine.com/series/serie-3517/#:~:text=ESCRIBIR%20MI%20CR%C3%8DTICA-,Sinopsis%20%26%20Info,-Altamente%20aclamado%20por"
                   class="btn btn-primary">Sinopsis</a>
            </div>
        </div>
    </div>

</main>