@page
@model WebApplication1.Pages.valeriaModel
@{
}
<main class="container py-4">
    <div class="p-5 text-center">
        <h4 class="mb-3">Canciones de Valeria</h4>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/4bwnO0FQp1s?si=Ot-d7tKafJJ1X_po"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/n_R0-YosZ3g?si=g2b95yf4QV3hob1k"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/0Exxu8lsGYE?si=MUF8uP-yzZgE5rGC"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-4by3 py-3">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/oRcXOnLkM7A?si=W6_KjXmUWgNhaz4n"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="p-5 text-center">
        <h4 class="mb-3">Peliculas / Series de Alejandro</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="https://m.media-amazon.com/images/I/81TmHlRleJL._SL1500_.jpg" class="card-img-top" alt="..." style="height: 300px">
                <div class="card-body">
                    <h5 class="card-title">Jujustsu Kaisen</h5>
                    <a href="https://www.ifema.es/noticias/ocio-entretenimiento/guia-completa-jujutsu-kaisen#:~:text=La%20trama%20de%20Jujutsu%20Kaisen,el%20mundo%20de%20la%20maldici%C3%B3n." class="btn btn-primary">Sinopsis</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="https://es.web.img3.acsta.net/pictures/13/12/04/16/18/394160.jpg" class="card-img-top" alt="..." style="height: 300px">
                <div class="card-body">
                    <h5 class="card-title">Gossip Girl</h5>
                    <a href="https://es.wikipedia.org/wiki/Gossip_Girl#:~:text=La%20trama%20principal%20de%20la,de%20la%20elite%20de%20Manhattan." class="btn btn-primary">Sinopsis</a>
                </div>
            </div>
        </div>
    </div>

</main>
